/* Általános stílusok */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Winky Sans", sans-serif;
  min-height: 100vh;
  position: relative;
}

body {
  background-image: url("../img/background-img2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

h1,
h2,
h3 {
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.main-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Cím stílusa */
.main-info h1 {
  margin: 0 0 20px 0;
  font-size: 2rem;
}

/* Kapcsolat lista stílusa */
.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.contact-list i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #333;
}

.contact-list a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.contact-list a:hover {
  color: #007bff;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  margin: 10px;
  padding: 0 15px;
  color: #555;
}

.card button {
  background-color: #ffd700;
  border: none;
  color: #333;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
  background-color: #333;
  color: #ffd700;
}

.fizetes-ikonok {
  font-size: 2.5rem;
  color: #555;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.fizetes-ikonok i:hover {
  color: #000;
  transform: scale(1.1);
  transition: all 0.3s;
}
/* Fejléc stílusok */
header {
  background-color: #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 150px;
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
}

header p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

/* Navigációs menü */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 20px;
  position: relative;
}

.navbar ul li a {
  font-size: 1.1em;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.navbar ul li a:hover {
  background-color: #333;
  color: #ffd700;
  border-radius: 5px;
}

#navbar {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

#navbar.active {
  opacity: 1;
  display: block;
}
/* Legördülő menü */
.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #333;
  color: #ffd700;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

/* Fő tartalom */
main {
  background-image: url("../img/background-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 800px;
  width: 100%;
}

main h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

main p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #333;
}

main ul {
  margin: 20px;
  list-style-type: none;
}

main .btn {
  background-color: #ffd900;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main .btn:hover {
  background-color: #333;
  justify-content: center;
  color: #ffd700;
}

/* Section stílusok */
section {
  padding: 50px 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* h2 stílusok */

.card h2 {
  font-size: 1em !important;
}

.details-container h2 {
  color: #ffd700;
  background-color: #555;
}

h2 {
  text-align: center;
  color: #333;
  padding-top: 20px;
  font-size: 2.2em;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #ffd700;
  transform: translateX(-50%);
  border-radius: 2px;
}

h2:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 30px;
}

.btn-hide {
  display: none;
}

section .btn {
  background-color: #ffd700;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

section .btn:hover {
  background-color: #333;
  color: #ffd700;
}

/* Lábléc stílusok */
footer {
  background-color: #333;
  color: #ffd700;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

/* Hamburger menü stílusai */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hamburger menü stílusai */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 20px 20px 0;
}

.hamburger:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  border-radius: 2px;
}

/* Animáció a hamburger ikonhoz */
.hamburger.active div:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
/* Nagyobb képernyőn */
@media (min-width: 1600px) {
  .card {
    width: 500px !important;
    height: 450px;
    margin: 20px;
    font-size: 1.2rem;
  }

  .card img {
    height: 250px; 
  }

  .card p {
    font-size: 1.1rem; 
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

main {
    flex: 1; 
}

footer {
    background-color: #333;
    color: #ffd700;
    text-align: center;
    padding: 20px;
    margin-top: auto; 
}
}
/* Mobil nézet */
@media (max-width: 768px) {
  .main-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    place-items: center;
  }

  header img {
    max-width: 600px !important;
    height: auto;
 }
  body {
    background-size: 600px;
  }

  .btn-hide {
    display: inline;
  }

  .hamburger {
    display: flex;
    top: 100%;
    margin-left: auto;
  }

  .logo {
    margin: auto;
  }

  .navbar {
    display: none;
    width: 100%;
    background-color: #ffd700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar.active {
    display: block !important;
  }

  .navbar ul {
    text-align: end;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    text-align: end;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  section {
    padding: 30px 20px;
  }

  section h2 {
    font-size: 1.8em;
  }

  section p {
    font-size: 1em;
  }

  .main-info {
    margin: 20px;
  }
  #myVideo {
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 15px 10px;
    gap: 15px;
    scrollbar-width: none; /* Firefox */
  }

  .container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .card {
    flex: 0 0 85%;
    scroll-snap-align: center;
    margin: 0 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #backToTop {
    display: none !important;
  }
}

/* Desktop nézetben marad a régi */
@media (min-width: 769px) {
  .slider-nav {
    display: none;
  }

  .card {
    width: 300px;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-items: center;
}

#success-message{
  display: none;
  color: green; 
  margin-top: 20px;
}

h3{
  margin-top: 20px;
}
.contact {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  min-width: 80%;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  min-width: 80%;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ffd700;
  outline: none;
  background-color: #fff;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffd700;
  color: #555;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #ffb700;
}

/* Elrejtjük a natív vezérlőket */
video::-webkit-media-controls {
  display: none !important;
}

#myVideo {
  display: flex;
  width: 50%;
  margin: auto;
}

.main-page {
  width: 70%;
  margin: 20 auto;
}

#backToTop {
  position: fixed;
  bottom: -60px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffd700;
  color: #555;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#backToTop.visible {
  bottom: 20px;
  opacity: 1;
}
